@import "variables.less";

body {
  height: 100%;
  margin: 0;
  margin-bottom: @topbar-height;
}

.topbar {
  background-color: @topbar-background-color;
  height: @topbar-height;
  position: fixed;
  width: 100%;
}

.wrapper {

  display: table-row;

  .main {
    display: table-cell;
    padding-top: @topbar-height;

    article {
      width: 50%;
      margin: 0 auto;
      border: 1px solid gray;
      min-width: 500px;
    }
  }

  .sidebar {
    padding-top: @topbar-height;
    display: table-cell;
    width: @sidebar-width;
    right: 0;
    background-color: rgba(210, 210, 210, 0.5);

    .nav-menu {
      position: fixed;
    }

    button {
      display: none;
    }
  }
}




@media (max-width: 991px) {
  .sidebar {
    background-color: red;
    position: static;

    button {
      display: block;
    }
  }
}



