body {
  height: 100%;
  margin: 0;
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: rgba(210, 210, 210, 0.5);
}

.main {
  padding-right: 210px;


  article {
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;
    min-width: 500px;
  }
}

.test1 {
  border: 1px solid red;
}

.test2 {
  border: 1px solid green;
}