@mobile-threshold: 950px;

@topbar-height: 30px;
@topbar-background-color: rgb(238, 238, 238);

@sidebar-width: 350px;
@sidebar-background-color: rgba(210, 210, 210, 0.5);
@sidebar-border-color: rgb(50, 50, 50);

@timeline-padding: 25px;